includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - database/seeders
        - database/factories

    level: 5

    excludePaths:
        - bootstrap/cache/*
